@import url(https://fonts.googleapis.com/css?family=Inter:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
/* @import url(https://fonts.googleapis.com/css?family=Source+Code+Pro); */
@font-face {
    font-family: "Sauce Code Pro";
    src: url(SauceCodeProNerdFontMono-Regular.woff2);
}
@font-face {
    font-family: "Jedi";
    src: url(Starjedi.ttf);
}
@font-face {
    font-family: "JediHollow";
    src: url(Starjhol.ttf);
}
:root {

    /* Worldline official colors */
    --perfect-pepper: black;
    --master-mint: #46beaa;
    --cool-coconut: white;
    
    --sure-sage:#2D8282;
    --bold-blueberry: #41b4d2;
    --reliable-rhubarb:#f08791;
    --confident-corn: #FFEB78;
    --friendly-fig: #005A8C;


    /* theme colors variables */
    --text-color: var(--perfect-pepper);
    --light-text-color: grey;
    --title-color:  var(--friendly-fig);
    --light-title-color: #41b4d2;
    --alternate-color: #46BEAA ;
    --bg-color: var(--cool-coconut);

    /* Base gradients */
    --gradient-green: linear-gradient(135deg, var(--master-mint) 0%, var(--sure-sage) 100%);
    --gradient-blue: linear-gradient(135deg, var(--bold-blueberry) 0%, var(--friendly-fig) 100%);
    --gradient-emphasis1: linear-gradient(135deg, var(--confident-corn) 0%, var(--reliable-rhubarb) 100%);
    --gradient-emphasis2: linear-gradient(135deg, var(--sure-sage) 0%, var(--confident-corn) 100%);
    --gradient-emphasis3: linear-gradient(135deg, var(--friendly-fig) 0%, var(--reliable-rhubarb) 100%);
}

.red {
    color: var(--reliable-rhubarb);
}

.green {
    color: var(--master-mint);
}

.blue {
    color: var(--friendly-fig);
}

.black h1 {
    color: var(--perfect-pepper);
}

body {
    font-family: 'Open Sans';
    color: var(--text-color);
}

table {
    display: table;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td,th {
    /* border-bottom: 1px solid #3b3b3b; */
    padding: 6px;
    /* vertical-align: middle; */
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

 tbody tr:last-of-type {
    border-bottom: 2px solid var(--alternate-color);
}

th {
    background-color: var(--alternate-color);
    color: var(--bg-color);
}

svg {
    width: 100%;
    height: 100%;
}

h1, h2 {
    font-family: 'Jedi';
    font-weight: 700;
    margin-bottom: 0;
    color: var(--title-color);
}

h3 {
    font-family: 'Arial';
    font-weight: 700;
    margin-bottom: 0;
    color: var(--text-color);
}

.remark-slide-content {
    /* background-image: url('cloudy.svg'); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: contain;  */
}

.remark-slide-content h1 {
    font-size: 3.5em;
    /* text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5)!important; */
}

.remark-slide-content h2 {
    font-size: 2.6em;
}

.remark-slide-content h3 {
    font-size: 1.3em;
}

.footnote {
    position: absolute;
    bottom: 3em;
    font-style: italic;
}

li {
    list-style-type: square
}

li p {
    line-height: 1.25em;
}


.large {
    font-size: 2em;
}

a, a>code {
    color: var(--title-color);
    text-decoration: none;
}

code {
    background: #e7e7e7;
    border-radius: 5px;
}

.remark-code, .remark-inline-code {
    font-family: 'Sauce Code Pro';
}

.remark-inline-code {
    background-color: var(--light-text-color);
    color: var(--bg-color);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.remark-code-line-highlighted {
    background-color: var(--light-text-color);
    font-weight: bold;
}

.remark-code-span-highlighted {
    background-color: var(--light-text-color);
    font-weight: bold;
}

.remark-slides-area .remark-slide .slashedright img { 
    width: 30em;
    height: 35em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0em;
    object-fit: cover;
    /* border-radius: 50%; */
    /* border: 10em solid transparent;  */
  clip-path: polygon(20% 0, 0 100%, 100% 100%, 100% 0);
  shape-outside: polygon(20% 0, 0 100%, 100% 100%, 100% 0);
}

.remark-slides-area .remark-slide .slashedleft img { 
    width: 30em;
    height: 35em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0em;
    object-fit: cover;
    /* border-radius: 50%; */
    /* border: 10em solid transparent;  */
  clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
  shape-outside: polygon(0 0, 0 100%, 80% 100%, 100% 0);
}

.pull-left {
    float: left;
    width: 47%;
}

.pull-left30 {
    float: left;
    width: 30%;
}
.pull-left40 {
    float: left;
    width: 40%;
}

.pull-left70 {
    float: left;
    width: 68%;
}

.pull-right {
    float: right;
    width: 47%;
}

.pull-right30 {
    float: right;
    width: 30%;
}

.pull-right40 {
    float: right;
    width: 40%;
}

.pull-right~p {
    clear: both;
}

.right{
    text-align: right;
}

#slideshow .slide .content code {
    font-size: 0.8em;
}

#slideshow .slide .content pre code {
    font-size: 0.9em;
    padding: 15px;
}


.remark-slides-area .remark-slide .remark-slide-content.inverse::after,
.remark-slides-area .remark-slide .remark-slide-content.alternate::after {
    color: var(--bg-color);   
}

.inverse {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  color: var(--bg-color);
}

.inverse h1, .inverse h2, .alternate h1, .alternate h2 {
    text-shadow: 0 0 20px #333;
    color: var(--bg-color);
    line-height: 0.8em;
}

.alternate {
    background: var(--gradient-emphasis3);
    color: var(--bg-color);
}

/* Slide-specific styling */

#slide-inverse .footnote {
    bottom: 12px;
    left: 20px;
}

#slide-how .slides {
    font-size: 0.9em;
    position: absolute;
    top: 151px;
    right: 140px;
}

#slide-how .slides h3 {
    margin-top: 0.1em;
}

#slide-how .slides .first, #slide-how .slides .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
}

.remark-slides-area .remark-slide .title h1, 
.remark-slides-area .remark-slide .title h2, 
.remark-slides-area .remark-slide .title h3,
.remark-slides-area .remark-slide .subtitle h1, 
.remark-slides-area .remark-slide .subtitle h2, 
.remark-slides-area .remark-slide .subtitle h3 {
    font-size: 2.7em;
    /* background: var(--title-color); */
    color: var(--text-color);
    width: 37%;
}

.remark-slides-area .remark-slide .title,
.remark-slides-area .remark-slide .subtitle {
    vertical-align: middle;
    padding-left: 2.5em;
}

.remark-slides-area .remark-slide .title img,
.remark-slides-area .remark-slide .subtitle img {
    width: 17em;
    height: 17em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 1em;
    object-fit: cover;
    border-radius: 50%;
    border: 10em solid transparent; 
}

.remark-slides-area .remark-slide .title img {
    background: var(--gradient-blue) border-box;
}

.remark-slides-area .remark-slide .subtitle img {
    background: var(--gradient-green) border-box;
}

.remark-slides-area .remark-slide .end h1 {
    margin-top: 0;
}

.remark-slides-area .remark-slide .end {
    background-image: url( "background.svg" );
    background-size: contain;
}

.remark-slides-area .remark-slide .end img{
    width: 17em;
    height: 17em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 1em;
    object-fit: cover;
    border-radius: 50%;
    border: 10em solid transparent; 
    background: var(--gradient-blue) border-box;
}

.remark-slides-area .remark-slide .title blockquote, 
.remark-slides-area .remark-slide .subtitle blockquote {
    color: var(--text-color)
}

/* Footer */
.remark-slides-area .remark-slide .remark-slide-content::before {
    background-image: url('wllogoblack.png');
    background-size: 210px 22px;
    display: inline-block;
    width: 210px; 
    height: 22px;
    position: absolute;
    bottom: 0.8em;
    left: 2em;
    content:"";
}

.remark-slides-area .remark-slide .remark-slide-content.inverse::before,
.remark-slides-area .remark-slide .remark-slide-content.alternate::before  {
    background-image: url('wllogoinv.png');
}

.roundimageblue {
    border-radius: 50%;
    border: 10em solid transparent; 
    background: --gradient-blue;
    background-origin: border-box;
}

.roundimagegreen {
    border-radius: 50%;
    border: 10em solid transparent; 
    background: --gradient-green;
    background-origin: border-box;
}

.remark-slides-area .remark-slide .remark-slide-content.empty::before,
.remark-slides-area .remark-slide .remark-slide-content.empty::after {
    visibility: hidden;
}

.remark-slides-area .remark-slide .remark-slide-number {
    visibility: hidden;
}

.remark-slides-area .remark-slide .remark-slide-content::after {
    position: absolute;
    display: inline-block;
    bottom: 1em;
    right: 1em;
    color: var(--text-color);
    font-size: 0.6em;
    content: "TechForum 2024 - License Wars - The Opensource Phantom Menace - © Worldline";
}


/* Two-column layout */

.left-column {
    width: 55%;
    height: 50%;
    float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
    color: var(--light-title-color);
}

.right-column {
    width: 35%;
    float: right;
    /* height: 50%; */
    padding-left: 1em;
}

.cols {
    display: flex;
  }
  
  .fifty {
    flex: 50%;
  }

/* Images */

.image7 img {
    max-width: 7%;
}

.image10 img {
    max-width: 10%;
}

.image15 img {
    max-width: 15%;
}

.image20 img {
    max-width: 20%;
}

.image35 img {
    max-width: 35%;
}

.image40 img {
    max-width: 40%;
}

.image50 img {
    max-width: 50%;
}

.image60 img {
    max-width: 60%;
}

.image70 img {
    max-width: 70%;
}

.image80 img {
    max-width: 80%;
}

.image90 img {
    max-width: 90%;
}

.image100 img {
    max-width: 100%;
}

.padtop0 {
    padding-top: 0em;
}

/* .remark-fading {
	z-index: 9;
} */

/* .remark-slide-container {
	transition: opacity 1s linear, right 1s ease-in-out;
	opacity: 0;
	right: 1000px;
}
.remark-visible {
	transition: opacity 1s linear, right 1s ease-in-out;
	opacity: 1;
	right: 0px;
}
.remark-visible ~ .remark-slide-container {
	right: -1000px;
} */

/* blockquote::before {
    content: open-quote;
    margin-right: 5px;
    font-size: 1.2em;
 } */
 
 blockquote {
   border-left: 0.3em solid #ccc;
   padding: 0 15px;
   font-style: italic;
   color: #666;
   quotes: "\201C""\201D""\2018""\2019";
 }
 
 /* blockquote::after {
   content: close-quote;
   margin-left: 5px;
   font-size: 1.2em;
 } */

@page {
    size: 1210px 681px;
    margin: 0;
}

@media print {
    .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
    }
}

.blackbg {
    background-color: black;

}

.kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}  
