</textarea>
<script src="js/mermaid.min.js"></script>
<script src="js/remark-latest.min.js"></script>
<script>
var slideshow = remark.create({ratio: "16:9", highlightStyle:'monokai',highlightLanguage:'java', highlightLines: true, highlightSpans: true});
</script>
<!-- <script src="js/diag.js"></script> -->
<script>
mermaid.initialize({
 startOnLoad: false,
 cloneCssStyles: false,
 theme: 'dark',
 class:{
     useMaxWidth: false,
 }
});
function initMermaid(s) {
   var diagrams = document.querySelectorAll(".mermaid");
   var i;
   for (i = 0; i < diagrams.length; i++) {
      if (diagrams[i].offsetWidth > 0) {
      mermaid.init(undefined, diagrams[i]);
      }
   }
}
slideshow.on("afterShowSlide", initMermaid);
initMermaid(slideshow.getSlides()[slideshow.getCurrentSlideIndex()]);
</script>

</body>

</html>
